<ion-header [translucent]="true" onLoad="loadApp()">
  <ion-toolbar>
      <div class="toolbar">
          <ion-item>
              <ion-title class="">
                  Calculatrice
              </ion-title>
              <ion-label slot="end">Dark mode</ion-label>
              <ion-toggle id="themeToggle" slot="end" (ionChange)="toggleTheme($event)" name="blackberry" color="dark"  unchecked></ion-toggle>
          </ion-item>
      </div>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-item>
      <ion-label class="valeur">
          {{display}}
      </ion-label>
  </ion-item>
  <div *ngFor="let numGroup of numberGroups" class="num">
      <ion-button *ngFor="let num of numGroup" (click)="onButtonPress(num)" class="calc-button" id="">{{num}}</ion-button>
  </div>
  <ion-button class="calc-button" (click)="onButtonPress(equalButton)" id="eq">{{equalButton}}</ion-button>
  <script src="home.page.js" ></script>